* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}


//remove from final
.small {
  max-width: 70px;
}

a {
  text-decoration: none; /* no underline */
}

.note {
  font-size: .75em;
  display: inline;
}

.fa-microphone {
  color: #5bc0de;
}

.topper {
  margin-top: 30px;
  margin-bottom: 10px;
}

.none {
  text-decoration: none; /* no underline */
  color: #5bc0de;
  font-size: 1.25em;
}

.fa-music {
  color: #5bc0de;
}