* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
}


//remove from final
.small {
  max-width: 70px;
}

a {
  text-decoration: none; /* no underline */
}