<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div class="masthead clearfix">
        <div class="inner">

        </div>
      </div>

      <div class="inner cover">
        <h1 class="cover-heading">philosophy</h1>
        <p class="lead">solve the problem. write the code. make it look good.</p>
        <p>and along the way, enjoy the ride.</p>
        <img src="img/debra.jpg" alt="" class="debra">
      </div>

    </div>

  </div>

</div>
