<div class="container">

  <div class="row">
    <div class="col-sm-4" ng-repeat="service in myServices">
      <div class="card card-block">
        <h3 class="card-title">{{service.title}}</h3>
        <p class="card-text">Gender: {{service.gender}}</p>
        <p class="card-text">{{service.locationCity}}, {{service.locationState}} {{service.zipCode}}</p>
        <p class="card-text">Service Rate/hour: {{service.rate}}</p>
        <p class="card-text">Services Offered: {{service.skillsOffered}}</p>
        <p class="card-text">Preferred Genres: {{service.genresOffered}}</p>
        <a ng-href="#/talent/services/view/{{service.id}}" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i><p class="note"> view</p></a>
        <a ng-click="deleteThisService(service.id)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <a ng-href="#/talent/services/add" class="btn btn-primary"><i class="fa fa-plus-circle" aria-hidden="true"></i><p clas="note"> new</p></a>
    </div>
  </div>

</div>
