<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <p class="text-left">This is just a taste of some of my favorite work.  When I am not creating things, I am going for walks with the family, laying down vocals for a demo or binge watching my favorite shows.</p>
      <p class="text-left">I am always open to new opportunities.  Feel free to shoot me an email to request a recent resume or call for a chat via cell phone.</p>
      <p class="text-left">I am hit or miss with twitter, feel free to connect with me on <a href="https://www.linkedin.com/in/debramgordon">LinkedIn</a>.</p>
    </div>
    <div class="col-xs-4">
      <ul class="contact-info">
        <li class="space"><i class="fa fa-phone"></i><a href="tel:615-969-0414"> 615-969-0414</a></li>
        <li class="space"> <i class="fa fa-envelope"></i><a href="mailto:debra.m.gordon@gmail.com"> Email Me</a></li>
        <li class="space"><i class="fa fa-github"></i><a href="https://github.com/debragordon"> Checkout My Repos</a></li>
        <li class="space"><i class="fa fa-twitter"></i><a href="http://twitter.com/intent/tweet?screen_name=debragodesign"> @debragodesign</a></li>
      </ul>
    </div>
</div>
