<div class="container">
  <div class="row">
    <div class="col-sm-4 text-center">
      <div class="card text-center">
        <img class="card-img-top img-responsive text-center" src="img/csharp-console-thumb.png" alt="Card image cap">
        <div class="card-block">
          <a href="https://github.com/Team-Slytherin/Bangazon-Terminal-Interface" title="" target="_blank"><p class="card-text">View Code</p></a>
          <p>Console application that allows a user to interact with a basic product ordering database. Users can login/logout, view product popularity, add items to an order and finalize the order by checking out.  This app was built in C# using the .NET framework.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-responsive text-center" src="img/capstone-thumb.png" alt="Card image cap">
        <div class="card-block">
          <a href="https://capstone-b241e.firebaseapp.com" title="" target="_blank"><p class="card-text">View GigGetter</p></a>
          <p>Web Application to promote the services of a musician/singer in a music business market as well as search for potential gigs posted by producers/engineers. This app was built in Angular JS using Grunt and Boostrap.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card text-center">
        <img class="card-img-top img-responsive text-center" src="img/gauntlet.png" alt="Card image cap">
        <div class="card-block">
          <a href="/gauntlet/" title="" target="_blank"><p class="card-text">Play Game</p></a>
          <p>Web Application demonstrating prototypal inheritance that allows the user to select a candidate and "debate" them until a winner is declared. This app was built with Javascript using Grunt and custom HTML5/CSS3.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col-sm-4 text-center">
      <div class="card">
        <img class="card-img-top img-responsive text-center" src="img/family-thumb.png" alt="Card image cap">
        <div class="card-block">
          <a href="/family/" target="_blank"><p class="card-text">Track Family Members</p></a>
          <p>Web App that allows the user to build a database of their familiy members. This was built with Javascript using custom HTML5/CSS3.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <div class="card text-center">
        <img class="card-img-top img-responsive text-center" src="img/orderform.png" alt="Card image cap">
        <div class="card-block">
          <a href="/iife/" target="_blank"><p class="card-text">Check Out Order Form</p></a>
          <p>Web Form that allows the user to build a custom sandwhich. This was built with Javascript using custom HTML5/CSS3.</p>
        </div>
      </div>
    </div>
  </div>
</div>