<div class="container">
  <div class="row">
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive text-center" src="img/capstone-thumb.png" alt="Card image cap">
        <div class="card-block">
          <a href="https://capstone-b241e.firebaseapp.com" title="" target="_blank"><p class="card-text">View Capstone</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card text-center">
        <img class="card-img-top img-responsive text-center" src="img/gauntlet.png" alt="Card image cap">
        <div class="card-block">
          <a href="/gauntlet/" title="" target="_blank"><p class="card-text">Play Game</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3 text-center">
      <div class="card text-center">
        <img class="card-img-top img-responsive text-center" src="img/orderform.png" alt="Card image cap">
        <div class="card-block">
          <a href="/iife/" target="_blank"><p class="card-text">Check Out Order Form</p></a>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="card">
        <img class="card-img-top img-responsive text-center" src="img/family-thumb.png" alt="Card image cap">
        <div class="card-block">
          <a href="/family/" target="_blank"><p class="card-text">Track Family Members</p></a>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer">
    <div class="col-sm-3 text-center">
      <div class="card text-center">
        <img class="card-img-top img-responsive text-center" src="img/translator.png" alt="Card image cap" id="my-modal">
        <div class="card-block">
          <a href="/translator/" title="" target="_blank"><p class="card-text">Translate Holiday Greeting</p></a>
        </div>
      </div>
    </div>
  </div>
</div>