<div class="row">
  <div class="col-sm-12 text-center">Job Title: {{selectedJob.title}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">Job Pays: {{selectedJob.pay}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">Number of Pros Needed: {{selectedJob.numberTalentNeeded}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">Gender: {{selectedJob.gender}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">Music Genre: {{selectedJob.musicGenre}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">Skill(s) Needed: {{selectedJob.skillNeededMain}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">Ability to Read Music Required: {{selectedJob.readMusicRequired}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center">{{selectedJob.locationCity}}, {{selectedJob.locationState}}</div>
</div>
<div class="row">
  <div class="col-sm-12 text-center"><a ng-href="#/talent/profile/edit" class="btn btn-primary" type="">Edit Profile</a></div>
</div>