<div class="container">
  <div class="row" >
    <div class="col-sm-12 text-center" ng-show="selectedUser.firstName">{{selectedUser.firstName}} {{selectedUser.lastName}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" ng-show="selectedUser.city">{{selectedUser.city}}, {{selectedUser.state}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" ng-show="selectedUser.telephone">Telephone: {{selectedUser.telephone}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" ng-show="selectedUser.yearsInBusiness">Years in the business: {{selectedUser.yearsInBusiness}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" ng-show="selectedUser.primaryGenre">Primary Genre: {{selectedUser.primaryGenre}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" ng-show="selectedUser.secondaryGenre">Secondary Genre: {{selectedUser.secondaryGenre}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center" ng-show="selectedUser.professionalBio">Professional Bio: {{selectedUser.professionalBio}} </div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center"><a ng-href="#/talent/profile/edit" class="btn btn-primary" type=""><i class="fa fa-wrench" aria-hidden="true"></i><p class="note"> edit</p></a></div>
  </div>
</div>