  <div class="container">
    <div class="row">
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">First Name</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" placeholder="First Name" ng-model="selectedUser.firstName">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">Last Name</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" placeholder="Last Name" ng-model="selectedUser.lastName">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">City</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" placeholder="City" ng-model="selectedUser.city">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-xs-2 col-form-label">State</label>
        <div class="col-xs-10">
          <input class="form-control" type="text" placeholder="State" ng-model="selectedUser.state">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-tel-input" class="col-xs-2 col-form-label">Telephone</label>
        <div class="col-xs-10">
          <input class="form-control" type="tel" placeholder="1-(555)-555-5555" ng-model="selectedUser.telephone">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-number-input" class="col-xs-2 col-form-label">How many years have you been in the business?</label>
        <div class="col-xs-10">
          <input class="form-control" type="number" placeholder="42" ng-model="selectedUser.yearsInBusiness">
      </div>
      </div>
      <div class="form-group row">
          <label for="exampleTextarea">Professional Bio</label>
          <textarea class="form-control" rows="3" ng-model="selectedUser.professionalBio"></textarea>
      </div>
      <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-2">Primary Genre</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" value="Country">  Country</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" value="Pop">  Pop</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" value="Rock">  Rock</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" value="Gospel">  Gospel</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadios" value="Jazz">  Jazz</label>
          </div>
        </div>
      </fieldset>
      <fieldset class="form-group row">
        <legend class="col-form-legend col-sm-2">Secondary Genre</legend>
        <div class="col-sm-10">
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadio2" value="Country">  Country</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadio2" value="Pop">  Pop</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadio2" value="Rock">  Rock</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadio2" value="Gospel">  Gospel</label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
            <input class="form-check-input" type="radio" name="gridRadio2" value="Jazz">  Jazz</label>
          </div>
        </div>
      </fieldset>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-10">
          <button type="submit" class="btn btn-primary" ng-click="updateUser()">Update</button>
        </div>
      </div>
    </div>
  </div>



