<div class="container">

  <div class="row">
    <div class="col-sm-12 text-center">Service Title: {{selectedService.title}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">{{selectedService.locationCity}}, {{selectedService.locationState}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">Details: {{selectedService.detail}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">Service Rate: {{selectedService.rate}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">Gender: {{selectedService.gender}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">Main Genre: {{selectedService.mainGenre}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">Secondary Genre: {{selectedService.secondaryGenre}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">Main Skill: {{selectedService.mainSkill}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center">Secondary Skill: {{selectedService.secondarySkill}}</div>
  </div>
  <div class="row">
    <div class="col-sm-12 text-center"><a ng-href="#/talent/services/edit/{{selectedService.id}}" class="btn btn-primary" type=""><i class="fa fa-wrench" aria-hidden="true"></i><p class="note"> edit</p></a></div>
  </div>
</div>