<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <iframe width="400px" width="100%"src="https://www.youtube.com/embed/0i6_BBgfr0s" frameborder="0" allowfullscreen class="pull-right col-xs-12 bottomMarg"></iframe>
      <h3>Vocalist</h3>
      <p class="text-left">Singing since a child, my debut was when I was 11 years old at my sister's wedding.  That was the start of a life-long love of music and singing.  Growing up singing in our local church and school functions has given me a rich foundation of theory and genres along with 9 years of piano lessons. I have had the honor of singing in a choir in Europe, directing a Gospel choir during college and instructing teens when I was a highschool choir director.</p>
      <p class="text-left">Since moving to Nashville, I have worked with talented producers, songwriters and musicians.  In 2009/2010 I was listed as one of the top 5 demo singers on demosinger.com. With a two-octave range, from (low D to D above high C), my lead vocals have colorful emotion and can handle most any genre. I have been told I sound like Sara Evans, Patty Lovelass, Trisha Yearwood and Diana Krall.</p>
      <p class="text-left">Genres (include, but not limited to): Country (New and Old), Pop, Blues, Rock, Contemporary Christian, Gospel, Jazz</p>
      <p class="text-left">Located in the Greater Nashville area, I am available to lend my lead/harmony vocals with short notice. Using the Nashville Numbers System, I can quickly learn songs and save time in the studio.</p>
      <p class="text-left">Feel free to text/call/email to learn more. The best email to reach me about music projects is debragmusic@gmail.com</p>
      <h5 class="text-left">Video Navigation:</h5>
      <p class="text-left">0:15 | "As Soon As I Could" | Country/Blue Grass</p>
      <p class="text-left">1:23 | "She Flies" | Contemporary Country</p>
      <p class="text-left">2:05 | "Still Getting Used To It" | Country/Blues</p>
      <p class="text-left">3:01 | "It Felt Damn Good" | Jazz</p>
      <p class="text-left">3:49 | "Grain Of Salt And A Twist Of Lime" | Contemporary Country</p>
    </div>
  </div>
</div>
