<div class="container">

  <div class="row">
    <div class="col-sm-2" ng-repeat="job in jobs">
      <div class="card card-block">
        <h4 class="card-title">{{job.title}}</h4>
        <p class="card-text">{{job.locationCity}}, {{job.locationState}}</p>
        <a ng-href="#/talent/jobs/{{job.id}}" class="btn btn-primary">view {{job.id}}</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <a ng-href="#/talent/jobs" class="btn btn-primary">VIEW ALL</a>
    </div>
  </div>

</div>