<div class="container">
  <div class="row text-center">
    <h3 class="text-center">Available Gigs</h3>
  </div>
  <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
          <div class="input-group">
                  <span class="input-group-btn">
                      <button class="btn btn-default">
                          <i class="fa fa-search"></i>
                      </button>
                  </span>
                  <input type="text" class="form-control" placeholder="Search Location, Music Genre, Skills Needed ..." ng-model="searchText">
          </div>
      </div>
  </div>

  <div class="row">
      <div ng-repeat="job in jobs | filter: searchText">

      <div class="col-sm-3">
        <div class="card card-block">
          <h4 class="card-title">{{job.title}} <i class="fa fa-music" aria-hidden="true" ng-show="interested"></i></h4>
          <p class="card-text">{{job.locationCity}}, {{job.locationState}}</p>
          <a ng-href="#/talent/jobs/{{job.id}}" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i><p class="note"> view</p></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- OLD
<div class="container">

  <div class="row">
    <div class="col-sm-2" ng-repeat="job in jobs">
      <div class="card card-block">
        <h4 class="card-title">{{job.title}}</h4>
        <p class="card-text">{{job.locationCity}}, {{job.locationState}}</p>
        <a ng-href="#/talent/jobs/{{job.id}}" class="btn btn-warning"><i class="fa fa-eye" aria-hidden="true"></i><p class="note"> view</p></a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12 text-center">
      <a ng-href="#/talent/jobs" class="btn btn-primary">VIEW ALL</a>
    </div>
  </div>

</div> -->